.product-item_container {
  border-radius: 1rem;
  border: 1px solid #ccc;
  min-width: 16rem;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
}

.product-item_container:hover {
  transform: scale(1.02);
}

.product-item__img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.product-item__info {
  padding: 1rem;
}

.product-item__title,
.product-item__price {
  margin: 0;
}

.product-item__price {
  font-weight: bold;
  font-size: 1.5rem;
}

.product-item__button {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  margin-top: 1rem;
}

.product-item__button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
