.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  gap: 1rem;
}

.cart-item__details {
  display: flex;
  flex-direction: column;
}

.cart-item__details h3,
.cart-item__details p {
  margin: 0;
  text-align: center;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.quantity-controls:hover {
  cursor: pointer;
}

.cart-item__img {
  border-radius: 1rem;
  object-fit: cover;
}
